.nav-bar {
  z-index: 2;
  position: absolute;
  width: 100%;
  background-image: -moz-linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0.81961) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0.81961) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0.81961) 100%);
}
.nav-bar__container {
  padding: 33px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar__logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.nav-bar__menu-item {
  display: inline;
  cursor: pointer;
  line-height: 20px;
  margin-left: 46px;
}
.nav-bar__menu-item-link {
  color: white;
  text-decoration: none;
  line-height: 1.2;
}
@media (max-width: 599px) {
  .nav-bar__menu-item-link {
    display: none;
  }
}

.main-ruling {
  height: 100vh;
  background-image: url("../img/Pope.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.vote-card {
  width: 500px;
  margin-top: 155px;
  z-index: 2;
  position: absolute;
  color: white;
}
.vote-card__content {
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 72px 15px 40px;
  font-weight: 300;
}
.vote-card__title {
  padding-top: 50px;
}
.vote-card__title--name {
  font-size: 3.75rem;
  font-weight: 400;
}
.vote-card__desc {
  font-size: 1.3rem;
  line-height: 1.143;
}
.vote-card__more-info * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.714;
  color: white;
}
.vote-card__verdict {
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: bold;
}
.vote-card__thumb {
  width: 50%;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}
.vote-card__thumb--up {
  background-color: rgba(28, 187, 180, 0.902);
}
.vote-card__thumb--down {
  background-color: rgba(255, 173, 29, 0.902);
}

.closing {
  height: 50px;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}
.closing__left {
  width: 33%;
  background-color: rgba(112, 112, 112, 0.302);
  line-height: 50px;
  text-align: right;
  padding-right: 1em;
  color: white;
}
.closing__right {
  width: 67%;
  background-color: rgba(255, 255, 255, 0.702);
  font-size: 2rem;
  line-height: 50px;
  color: #333333;
}
.closing__right--bold {
  font-weight: 400;
  color: #333333;
}
.closing__triangle {
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(112, 112, 112, 0.5);
  border-bottom: 5px solid transparent;
}

.container {
  margin: 5vh 7vw;
  padding: 0;
}

.message {
  margin-top: 33px;
  height: 100px;
  display: flex;
  padding: 0 28px;
  background-color: #ebebeb;
  justify-content: space-evenly;
  align-items: center;
}
.message__medium {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.2;
  margin: 0;
  width: 188px;
  font-weight: 300;
}
.message__large {
  font-size: 2rem;
  color: #333333;
  font-weight: bold;
  line-height: 1.131;
  margin: 0;
}
.message__description {
  font-size: 15px;
  line-height: 1.515;
  color: #333333;
}
.message__close-btn {
  padding: 0;
  border: none;
  cursor: pointer;
}

.votes {
  font-size: 2rem;
}
.votes__title {
  font-size: 2.5rem;
  line-height: 1.2;
}
.votes__card-grid {
  max-width: 986px;
  height: 1100px;
  display: grid;
  grid-template-columns: 492px 492px;
  grid-row: auto auto;
  grid-column-gap: 42px;
  grid-row-gap: 42px;
}

.hero {
  width: 100%;
  height: 550px;
  position: relative;
  color: white;
}
.hero::after {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-image: -moz-linear-gradient(270deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0.81961) 100%);
  background-image: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.52941) 60%, rgba(0, 0, 0, 0.81961) 100%);
  background-image: -ms-linear-gradient(270deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0.81961) 100%);
}
.hero__image {
  position: absolute;
}
.hero__container {
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.hero__vote {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  cursor: pointer;
}
.hero__vote--left-marker {
  position: absolute;
  bottom: 220px;
}
.hero__vote--up {
  background-color: #1cbbb4;
}
.hero__vote--down {
  background-color: #ffad1d;
}
.hero__vote--selected {
  border: 1px solid white;
}
.hero__content {
  padding: 41px;
}
.hero__big-title {
  font-size: 2.8rem;
  line-height: 1.067;
}
.hero__paragraph {
  font-size: 1rem;
  line-height: 1.2;
}
.hero__small-subtitle {
  font-size: 0.75rem;
}
.hero__vote-result {
  padding: 2%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.hero__vote-result--width-64 {
  width: 64%;
}
.hero__vote-result--width-36 {
  width: 36%;
}
.hero__vote-result--up {
  background-color: rgba(28, 187, 180, 0.702);
}
.hero__vote-result--up > svg {
  margin-right: 6px;
}
.hero__vote-result--down {
  background-color: rgba(255, 173, 29, 0.702);
  text-align: right;
  justify-content: flex-end;
}
.hero__vote-result--down > svg {
  margin-left: 6px;
}
.hero__vote-btn {
  border: 1px solid white;
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
}

body,
html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333333;
}

.icon--white {
  fill: white;
}

.weight--bold {
  font-weight: 600;
}
.weight--regular, .nav-bar__logo, .hero__big-title {
  font-weight: 400;
}

.horizontal-margin, .nav-bar__container, .vote-card, .message, .votes {
  margin-left: 133px;
  margin-right: 123px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-vertical {
  align-items: center;
}

.no-margin-padding, .hero__big-title {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
