@import 'utils/mixins';
@import 'utils/variables';
@import 'layout/navbar';
@import 'layout/main-ruling';
@import 'layout/votes';
@import 'layout/footer';
@import 'utils/mixins';

body,
html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $dark-grey;
}

.icon--white {
  fill: white;
}

.weight {
  &--bold {
    font-weight: 600;
  }
  &--regular {
    font-weight: 400;
  }
}

.horizontal-margin {
  margin-left: 8.3rem;
  margin-right: 7.68rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-vertical {
  align-items: center;
}

.no-margin-padding {
  padding: 0;
  margin: 0;
}

.svg-assets {
  width: 0;
  height: 0;
}
