@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/mixins';

@import 'layout/navbar';
@import 'layout/main-ruling';
@import 'layout/votes';
@import 'layout/submit-name';
@import 'layout/footer';

body,
html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $dark-grey;
}

.icon--white {
  fill: white;
}

.weight {
  &--bold {
    font-weight: 600;
  }
  &--regular {
    font-weight: 400;
  }
}

.horizontal-margin {
  margin-left: 133px;
  margin-right: 122px;
  @include screen-size('phone') {
    margin-left: 30px;
    margin-right: 28px;
  }
  @include screen-size('tablet') {
    margin-left: 50px;
    margin-right: 50px;
  }
  // @include screen-size('laptop') {
  //   margin-left: 110px;
  //   margin-right: 100px;
  // }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-vertical {
  align-items: center;
}

.no-margin-padding {
  padding: 0;
  margin: 0;
}

.svg-assets {
  width: 0;
  height: 0;
}
