<section class="main-ruling">
  <article class="vote-card">
    <div class="vote-card__content">
      <p class="vote-card__title">
        What's your opinion on
        <br />
        <span class="vote-card__title--name">Pope Francis?</span>
      </p>
      <p class="vote-card__desc">
        He's talking tough on clergy sexual abuse, but is he just another papal
        pervert protector? (thumbs down) or a true pedophile punishing pontiff?
        (thumbs up)
      </p>
      <div class="vote-card__more-info">
        <svg width="16px" height="16px" preserveAspectRatio="xMinYMax meet">
          <use xlink:href="#wikipedia"></use>
        </svg>
        <a href="#">
          More information
        </a>
      </div>
      <br />
      <p class="vote-card__verdict">
        What's Your Verdict?
      </p>
    </div>
    <div class="flex-row">
      <button
        class="vote-card__thumb vote-card__thumb--up"
        aria-label="Vote thumb up"
      >
        <svg height="39px" width="39px">
          <use xlink:href="#thumb-up"></use>
        </svg>
      </button>
      <button
        class="vote-card__thumb vote-card__thumb--down"
        aria-label="Vote thumb up"
      >
        <svg height="39px" width="39px">
          <use xlink:href="#thumb-down"></use>
        </svg>
      </button>
    </div>
  </article>
  <div class="closing">
    <div class="closing__left">CLOSING IN</div>
    <div class="closing__right">
      <div class="closing__triangle"></div>
      <span class="closing__right--bold">22 </span> days
    </div>
  </div>
</section>
