.footer {
  @extend .horizontal-margin;
  @extend .flex-row;
  border-top: 1px dotted black;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: $dark-grey;
  padding-top: 8px;

  @include screen-size('phone') {
    padding-top: 4px;
  }

  &__list {
    @extend .flex-row;
    padding-left: 0;
    align-items: center;
  }

  &__item {
    text-decoration: none;
    line-height: 1.6;
    list-style-type: none;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    @include screen-size('phone') {
      margin-right: 12px;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark-grey;
  }
}
