.main-ruling {
  height: 100vh;
  background-image: url('../img/Pope.png');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center center;

  & * {
    color: white;
  }
  &__vote-card {
    @extend .horizontal-margin;
    width: 500px;
    margin-top: 155px;
    z-index: 2;
    position: absolute;

    &__content {
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      background-color: rgb(0, 0, 0, 0.4);

      padding: 0 50px 15px 40px;
      font-weight: 300;
      &__title {
        padding-top: 50px;
        &--name {
          font-size: 3.75rem;
          font-weight: 400;
        }
      }
      &__desc {
        font-size: 1.3rem;
        line-height: 1.143;
      }
      &__more-info {
        & * {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          line-height: 1.714;
        }
      }
      &__verdict {
        line-height: 1.2;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    &__thumbs-row {
      @extend .flex-row;

      &__thumb {
        width: 50%;
        padding: 20px 0;
        text-align: center;

        cursor: pointer;
        &--up {
          @extend .main-ruling__vote-card__thumbs-row__thumb;
          background-color: rgba(28, 187, 180, 0.902);
        }
        &--down {
          @extend .main-ruling__vote-card__thumbs-row__thumb;
          background-color: rgba(255, 173, 29, 0.902);
        }
      }
    }
  }
  &__closing {
    height: 50px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    &__left {
      width: 33%;
      background-color: rgba(112, 112, 112, 0.302);
      line-height: 50px;
      text-align: right;
      padding-right: 1em;
    }
    &__right {
      width: 67%;
      background-color: rgba(255, 255, 255, 0.702);
      font-size: 2rem;
      line-height: 50px;
      color: $black;
      &--bold {
        font-weight: 400;
        color: $black;
      }
      &__triangle {
        display: inline-block;
        vertical-align: middle;
        border-top: 5px solid transparent;
        border-left: 10px solid rgba(112, 112, 112, 0.5);
        border-bottom: 5px solid transparent;
      }
    }
  }
}
