<section class="votes">
  <p class="votes__title">Votes</p>
  <div class="votes__card-grid">
    <article class="hero hero--kanye">
      <div class="hero__container">
        <div class="hero__vote hero__vote--left-marker hero__vote--up">
          <svg height="18px" width="18px">
            <use xlink:href="#thumb-up"></use>
          </svg>
        </div>
        <div class="hero__content">
          <h1 class="hero__big-title">
            Kanye West
          </h1>
          <h2 class="no-margin-padding hero__small-subtitle">
            1 month ago<span class="weight--regular"> in Entertainment</span>
          </h2>
          <p class="hero__paragraph">
            Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean
            eu velit libero.
          </p>
          <div class="flex-row center-vertical">
            <button
              class="hero__vote hero__vote--up hero__vote--selected"
              aria-label="Select thumb up"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-up"></use>
              </svg>
            </button>

            <button
              class="hero__vote hero__vote--down"
              aria-label="Select thumb down"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-down"></use>
              </svg>
            </button>
            <button class="hero__vote-btn" aria-label="Vote now">
              Vote now
            </button>
          </div>
        </div>
        <div class="flex-row">
          <div
            class="hero__vote-result hero__vote-result--up hero__vote-result--width-64"
          >
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-up"></use>
            </svg>
            64%
          </div>
          <div
            class="hero__vote-result hero__vote-result--down hero__vote-result--width-36"
          >
            36%
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-down"></use>
            </svg>
          </div>
        </div>
      </div>
    </article>

    <article class="hero hero--mark">
      <div class="hero__container">
        <div class="hero__vote hero__vote--left-marker hero__vote--down">
          <svg height="18px" width="18px">
            <use xlink:href="#thumb-down"></use>
          </svg>
        </div>
        <div class="hero__content">
          <h1 class="hero__big-title">
            Mark Zuckerberg
          </h1>
          <h2 class="no-margin-padding hero__small-subtitle">
            1 month ago<span class="weight--regular"> in Business</span>
          </h2>
          <p class="hero__paragraph">
            Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean
            eu velit libero.
          </p>
          <div class="flex-row center-vertical">
            <button
              class="hero__vote hero__vote--up hero__vote--selected"
              aria-label="Select thumb up"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-up"></use>
              </svg>
            </button>

            <button
              class="hero__vote hero__vote--down"
              aria-label="Select thumb down"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-down"></use>
              </svg>
            </button>
            <button class="hero__vote-btn" aria-label="Vote now">
              Vote now
            </button>
          </div>
        </div>
        <div class="flex-row">
          <div
            class="hero__vote-result hero__vote-result--up hero__vote-result--width-36"
          >
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-up"></use>
            </svg>
            36%
          </div>
          <div
            class="hero__vote-result hero__vote-result--down hero__vote-result--width-64"
          >
            64%
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-down"></use>
            </svg>
          </div>
        </div>
      </div>
    </article>

    <article class="hero hero--cristina">
      <div class="hero__container">
        <div class="hero__vote hero__vote--left-marker hero__vote--down">
          <svg height="18px" width="18px">
            <use xlink:href="#thumb-down"></use>
          </svg>
        </div>
        <div class="hero__content">
          <h1 class="hero__big-title">
            Cristina Fernández de Kirchner
          </h1>
          <h2 class="no-margin-padding hero__small-subtitle">
            1 month ago<span class="weight--regular"> in Politics</span>
          </h2>
          <p class="hero__paragraph">
            Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean
            eu velit libero.
          </p>
          <div class="flex-row center-vertical">
            <button
              class="hero__vote hero__vote--up hero__vote--selected"
              aria-label="Select thumb up"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-up"></use>
              </svg>
            </button>

            <button
              class="hero__vote hero__vote--down"
              aria-label="Select thumb down"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-down"></use>
              </svg>
            </button>
            <button class="hero__vote-btn">
              Vote now
            </button>
          </div>
        </div>
        <div class="flex-row">
          <div
            class="hero__vote-result hero__vote-result--up hero__vote-result--width-36"
          >
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-up"></use>
            </svg>
            36%
          </div>
          <div
            class="hero__vote-result hero__vote-result--down hero__vote-result--width-64"
          >
            64%
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-down"></use>
            </svg>
          </div>
        </div>
      </div>
    </article>

    <article class="hero hero--malala">
      <div class="hero__container">
        <div class="hero__vote hero__vote--left-marker hero__vote--up">
          <svg height="18px" width="18px">
            <use xlink:href="#thumb-up"></use>
          </svg>
        </div>
        <div class="hero__content">
          <h1 class="hero__big-title">
            Malala Yousafzai
          </h1>
          <h2 class="no-margin-padding hero__small-subtitle">
            1 month ago<span class="weight--regular"> in Entertainment</span>
          </h2>
          <p class="hero__paragraph">
            Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean
            eu velit libero.
          </p>
          <div class="flex-row center-vertical">
            <button
              class="hero__vote hero__vote--up hero__vote--selected"
              aria-label="Select thumb up"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-up"></use>
              </svg>
            </button>

            <button
              class="hero__vote hero__vote--down"
              aria-label="Select thumb down"
            >
              <svg height="18px" width="18px">
                <use xlink:href="#thumb-down"></use>
              </svg>
            </button>
            <button class="hero__vote-btn" aria-label="Vote now">
              Vote now
            </button>
          </div>
        </div>
        <div class="flex-row">
          <div
            class="hero__vote-result hero__vote-result--up hero__vote-result--width-64"
          >
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-up"></use>
            </svg>
            64%
          </div>
          <div
            class="hero__vote-result hero__vote-result--down hero__vote-result--width-36"
          >
            36%
            <svg height="28px" width="28px">
              <use xlink:href="#thumb-down"></use>
            </svg>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
