<nav class="nav-bar__container">
  <div>
    <a class="nav-bar__logo" routerLink="/" aria-label="Go to main page"
      >Rule of Thumb.</a
    >
  </div>
  <ul>
    <li class="nav-bar__menu-item">
      <a
        routerLink="/past-trials"
        class="nav-bar__menu-item-link"
        aria-label="Go to past trials"
        >Past trials</a
      >
    </li>
    <li class="nav-bar__menu-item">
      <a
        class="nav-bar__menu-item-link"
        routerLink="/how-it-works"
        aria-label="Go to how it works"
        >How It Works</a
      >
    </li>
    <li class="nav-bar__menu-item">
      <a
        class="nav-bar__menu-item-link"
        routerLink="/auth"
        aria-label="Go to how it works"
        >Log In / Sign Up</a
      >
    </li>
    <li class="nav-bar__menu-item">
      <button class="transparent-button" aria-label="Search button">
        <svg width="24px" height="26px">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </li>
  </ul>
  <button class="nav-bar__hamburger" aria-label="Menu button">
    <svg width="24px" height="26px">
      <use xlink:href="#hamburger"></use>
    </svg>
  </button>
</nav>
